# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

# WebStorm files
.idea/
*.iml

# Firebase related files
firebase.json
.firebaserc

# Contains firebase credentials and should not be exposed to Git
lib/src/service/firebase_credentials.dart

# External components
/node_modules
/lib/@material